<div class="row">
	<div class="col col-xs-12 col-xs-offset-0 col-sm-offset-3 col-sm-6 col-sm-offset-3">
		<div class="media">
			<!--div class="media-top">
			  <span class="glyphicon glyphicon-book iconsab"></span>
			</div-->
			<div class="media-body text-center">
				<h4 class="media-heading">Antecentes</h4>
				<p>ELIS es una empresa que se dedica a la venta y fabricación artesanal de joyas en plata ya sea nacional o italiana. Contamos con más de 10 años de experiencia en el sector. Estamos ubicados en la ciudad de Cochabamba – Bolivia.</p>
			</div>
		</div>
	</div>
</div><hr>
<div class="row">
	<div class="col col-sm-6">
		<div class="media">
		  <div class="media-left">
		      <span class="glyphicon glyphicon-user iconsab"></span>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Quienes somos?</h4>
		    <p>ELIS es una empresa que se dedica a la venta y fabricación artesanal de joyas en plata ya sea nacional o italiana. Contamos con más de 10 años de experiencia en el sector. Estamos ubicados en la ciudad de Cochabamba – Bolivia.</p>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6">
		<div class="media">
		  <div class="media-left">
		      <span class="glyphicon glyphicon-list iconsab"></span>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Que hacemos?</h4>
		    <p>Nuestros exclusivos diseños en plata son de la más amplia variedad en cuanto a estilo, formas, materiales y colores.</p>
		    <p>Nuestros exclusivos diseños en plata son de la más amplia variedad en cuanto a estilo, formas, materiales y colores.</p>
		  </div>
		</div>
	</div>
</div><hr>
<div class="row">
	<div class="col col-sm-6">
		<div class="media">
		  <div class="media-left">
		      <span class="glyphicon glyphicon-leaf iconsab"></span>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Misión</h4>
		    <p>Siempre teniendo en cuenta y sin olvidarnos que los precios son una parte importante a la hora de la venta, que por otra parte no tiene que sacrificar la calidad del producto.</p>
		    </p>Todos los artículos que ofrecemos están disponibles en stock para su entrega inmediata.</p>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6">
		<div class="media">
		  <div class="media-left">
		      <span class="glyphicon glyphicon-leaf iconsab"></span>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Visión</h4>
		    <p>Gracias al creciente acceso de ordenadores y redes en BOLIVIA, Elis ha apostado por Internet como una forma de venta. Mostrando nuestros productos, realizando el pedido a cualquier hora, desde cualquier parte del país.</p>
		    <p>Todo para conseguir un único objetivo, que nuestros clientes queden satisfechos con nuestros productos.</p>
		  </div>
		</div>
	</div>
</div>