<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><center>REFERENCIAS</center></h3>
	</div>
	<div class="panel-body">
		<p><span class="glyphicon glyphicon-home"></span>&nbsp; Dirección: Central La Paz - Loayza No. 118</p>
		<p><span class="glyphicon glyphicon-phone"></span>&nbsp; 2150900, 2150901, 76580041, 76580049</p>
		<p><a href="mailto:info@correo.net"><span class="glyphicon glyphicon-envelope"></span>&nbsp; inf@correo.net</a></p>
		<p><a href="https://twitter.com/empresa" target="_blank"><span class="glyphicon glyphicon-asterisk"></span>&nbsp; Twitter/Empresa</a></p>
		<p><a href="https://es-la.facebook.com/empresa" target="_blank"><span class="glyphicon glyphicon-asterisk"></span>&nbsp; Facebook/Empresa</a></p>
		<p><a href="http://www.youtube.com/channel/empresa" target="_blank"><span class="glyphicon glyphicon-asterisk"></span>&nbsp; YouTube/Empresa</a></p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><center>QR</center></h3>
	</div>
	<div class="panel-body">
		<center><div id="addres"></div></center>    
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#addres').qrcode("Dirección de la empresa, encriptado en codigo GR");
	});
</script>